$width: 0;
$height: 0;

@function square($per, $width:$width, $height:$height) {
	@return $height * $per/$width*1%;
}

@function em($pixels, $default:16) {
	@return $pixels/$default*1em;
}

.bevel {
	box-shadow: inset em(2) em(2) em(2) rgba(255, 255, 255, .4), inset em(-2) em(-2) em(2) rgba(0, 0, 0, .4);
	border: em(1) solid#ccc;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(45deg, hsl(53deg 42% 30% /50%), rgb(255 0 / 0%));
	height: 100vh;
	width: 100vh;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.PS4-dualshock {
	$length: 500px;
	$width: $length*1.4 !global;
	$height: $length !global;
	width: $width;
	height: $height;
	$current-size: $length / 37.3;
	$btn-color: #d4d4d4;
	$bg-color: #adadad;
	position: relative;
	color: white;
	font-size: $current-size;
	font-family: Arial;
	font-weight: bold;
	filter: drop-shadow(0px 0px 2em rgba(0, 0, 0, 0.3));
	background-color:blue;
	
	.inner{
		position:absolute;
		top:0;
		height: 100%;
		width: 100%;

		.top-buttons{
			width:75%;
			height:20%;
			position:absolute;
			left:50%;
			transform:translateX(-50%);
			top:21%;

			&::before
			{


			position:absolute;
			top:-80%;
			left:46%;
			height:100%;
			width:4%;
			background-color: black;
			background: linear-gradient(90deg, #676462 10%, #908882 30%, black 100%);
			border:em(1) solid #bdb7b3;
			box-sizing:border-box;
			border-top: 0px solid;

			}
			.left, .right
			{
				height:100%;
				width:20%;
				background-color:#2d2828;
				border-radius:50%/15%;
				display: block;
				position:absolute;
				top:0;
				left:-1%;
				box-sizing:border-box;
				box-shadow: 0 -2px 0px 2px darken(#2d2828,10%);
				
				&::before{
					content:"";
					background: radial-gradient(ellipse at 0% 0%, transparent 75%,$bg-color
					75%);
					position:absolute;
					top:0;
					right:0;
					height:20%;
					width:15%;
					transform: translate(165%,60%) rotate(90deg);
				}
			}
			.right
			{
			  left:unset;
			  right:-2%;
			  padding:em(3) 0 0 em(25);
			  
			  &::before
			  {
				  transform:translate(-164%,60%) rotate(90deg);
				  background: radial-gradient(ellipse at 0% 100%, transparent 75%,
				  $bg-color 75%);
				  		left:0;
			  }

			}
		}
		.body{
		position:absolute;
		top:27%;
		$height: $height * 0.043 !global;
		$width: $width * 0.8 !global;
		height: $height;
		width: $width;

		transform: translateX(-50%);
		left:50;

		z-index:2;
		background-color: $bg-color;

		.share-btn, .options-btn
		{
			position:absolute;
			top:7%;
			left:25%;
			height:15%;
			width: 3%;
			background-color:darken($bg-color,40%);
			border-radius:50% / 25%;
			
		}
		}
	}


}